<!DOCTYPE html>
<html lang="en" class="no-js">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Shoe Shop</title>
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <meta name="author" content="Themesdesign" />

    <link rel="shortcut icon" href="images/favicon.ico">

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="css/bootstrap.min.css" type="text/css">

    <!--Material Icon -->
    <link rel="stylesheet" type="text/css" href="css/materialdesignicons.min.css" />

    <link rel="stylesheet" type="text/css" href="css/fontawesome.css" />

    <!-- selectize css -->
    <link rel="stylesheet" type="text/css" href="css/selectize.css" />

    <link rel="stylesheet" type="text/css" href="css/nice-select.css" />

    <!-- Custom  Css -->
    <link rel="stylesheet" type="text/css" href="css/style.css" />

</head>

<body>
    <!-- Loader -->
    <div id="preloader">
        <div id="status">
            <div class="spinner">
                <div class="double-bounce1"></div>
                <div class="double-bounce2"></div>
            </div>
        </div>
    </div>
    <!-- Loader -->

    <!-- Navigation Bar-->
    <header id="topnav" class="defaultscroll scroll-active">
        <!-- Tagline STart -->
        <div class="tagline">
            <div class="container">
                <div class="float-left">
                    <div class="phone">
                        <i class="mdi mdi-phone-classic"></i> +1 800 123 45 67
                    </div>
                    <div class="email">
                        <a href="#">
                            <i class="mdi mdi-email"></i> Support@mail.com
                        </a>
                    </div>
                </div>
                <div class="float-right">
                    <ul class="topbar-list list-unstyled d-flex" style="margin: 11px 0px;">
                        <li class="list-inline-item"><a href="user-profile.html"><i class="mdi mdi-account mr-2"></i>Benny Simpson</a></li>
                    </ul>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
        <!-- Tagline End -->

        <!-- Menu Start -->
        <div class="container">
            <!-- Logo container-->
            <div>
                <a href="index.html" class="logo">
                    <img src="images/logo-light.png" alt="" class="logo-light" height="18" />
                    <img src="images/logo-dark.png" alt="" class="logo-dark" height="18" />
                </a>
            </div>                 
            <!-- <div class="buy-button">
                <a href="post-a-job.html" class="btn btn-primary"><i class="mdi mdi-cloud-upload"></i> Post a Job</a>
            </div>end login button -->
            <!-- End Logo container-->
            <div class="menu-extras">
                <div class="menu-item">
                    <!-- Mobile menu toggle-->
                    <a class="navbar-toggle">
                        <div class="lines">
                            <span></span>
                            <span></span>
                            <span></span>
                        </div>
                    </a>
                    <!-- End mobile menu toggle-->
                </div>
            </div>
    
            <div id="navigation">
                <!-- Navigation Menu-->   
                <ul class="navigation-menu">
                    <li><a href="index.html">Home</a></li>
                    <li class="">
                        <a href="products.html">Products</a><span class="menu-arrow"></span>
                    </li>
                    <li>
                        <a href="card.html"> Card </a>
                    </li>
                    
                    <li>
                        <a href="contact.html">contact</a>
                    </li>
                    <li class="has-submenu">
                        <a href="javascript:void(0)">Pages</a><span class="menu-arrow"></span>
                        <ul class="submenu">
                                    <li><a href="login.html">Login</a></li>
                                    <li><a href="signup.html">Signup</a></li>
                                    <li><a href="user-profile.html">User Profile</a></li>
                                    <li><a href="faq.html">FAQS</a></li>
                            <li><a href="components.html"> Components</a></li>
                        </ul>
                    </li>
                    <li><a href="about.html">About us</a></li>
                </ul><!--end navigation menu-->
            </div><!--end navigation-->
        </div><!--end container-->
        <!--end end-->
    </header><!--end header-->
    <!-- Navbar End -->
    
    <!-- Start home -->
    <section class="bg-half page-next-level" style="background: url('https://www.antonia.it/pub/media/mgs_blog/c/o/copertina_1_-_gialla.jpg');"> 
        <div class="bg-overlay"></div>
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-6">
                    <div class="text-center text-white">
                        <h4 class="text-uppercase title mb-4">Shoe Products</h4>
                        <ul class="page-next d-inline-block mb-0">
                            <li><a href="index.html" class="text-uppercase font-weight-bold">Home</a></li>
                            <li><a href="#" class="text-uppercase font-weight-bold">Products</a></li> 
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- end home -->
    

    <section class="section">
        <!-- REGISTRATION-FORM START -->
        <div class="container">
            <div class="home-form-position">
                <div class="row justify-content-center">
                    <div class="col-lg-12">
                        <div class="home-registration-form bg-white job-list-grid-reg-form p-4 mb-3">
                            <form class="registration-form">
                                <div class="row">
                                    <div class="col-lg-6 col-md-6">
                                        <div class="registration-form-box">
                                            <i class="fa fa-search"></i>
                                            <input type="text" id="exampleInputName1" class="form-control rounded registration-input-box" placeholder="Shoe keyboards...">
                                        </div>
                                    </div>
                                
                                    <div class="col-lg-3 col-md-6">
                                        <div class="registration-form-box">
                                            <i class="fa fa-list-alt"></i>
                                            <select id="select-category" class="demo-default">
                                                <option value="">Categories...</option>
                                                <option value="4">Nike</option>
                                                <option value="1">Adidas</option>
                                                <option value="3">Converse</option>
                                                <option value="5">Canvas</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-lg-3 col-md-6">
                                        <div class="registration-form-box">
                                            <input type="submit" id="submit" name="send" class="submitBnt btn btn-primary btn-block" value="Submit">
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- REGISTRATION-FORM END -->

        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-12">
                    <div class="show-results mt-4">
                        <div class="float-left">
                            <h5 class="text-dark mb-0 pt-2">Showing ( 240 Shoes )</h5>
                        </div>
                        <div class="sort-button float-right">
                            <select class="nice-select rounded">
                                <option data-display="Select">Nothing</option>
                                <option value="1">Web Developer</option>
                                <option value="2">PHP Developer</option>
                                <option value="3">Web Designer</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-3 pt-2">
                    <div class="left-sidebar">
                        <div class="accordion" id="accordionExample">
                            <!-- collapse one end -->
                            <div class="card rounded mt-4">
                                <a data-toggle="collapse" href="#collapsetwo" class="job-list" aria-expanded="true" aria-controls="collapsetwo">
                                    <div class="card-header" id="headingtwo">
                                        <h6 class="mb-0 text-dark f-18">Categories</h6>
                                    </div>
                                </a>
                                <div id="collapsetwo" class="collapse show" aria-labelledby="headingtwo">
                                    <div class="card-body p-0">
                                        <div class="custom-control custom-radio">
                                            <input type="radio" id="customRadio7" name="customRadio1" class="custom-control-input">
                                            <label class="custom-control-label ml-1 text-muted" for="customRadio7">Nike</label>
                                        </div>

                                        <div class="custom-control custom-radio">
                                            <input type="radio" id="customRadio8" name="customRadio1" class="custom-control-input">
                                            <label class="custom-control-label ml-1 text-muted" for="customRadio8">Canvas</label>
                                        </div>

                                        <div class="custom-control custom-radio">
                                            <input type="radio" id="customRadio9" name="customRadio1" class="custom-control-input">
                                            <label class="custom-control-label ml-1 text-muted" for="customRadio9">Adidas</label>
                                        </div>

                                        <div class="custom-control custom-radio">
                                            <input type="radio" id="customRadio10" name="customRadio1" class="custom-control-input">
                                            <label class="custom-control-label ml-1 text-muted" for="customRadio10">Converse</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- collapse one end -->

                            <div class="card rounded mt-4">
                                <a data-toggle="collapse" href="#collapsefive" class="job-list collapsed" aria-expanded="false" aria-controls="collapsefive">
                                    <div class="card-header" id="headingfive">
                                        <h6 class="mb-0 text-dark f-18">Price</h6>
                                    </div>
                                </a>
                                <div id="collapsefive" class="collapse" aria-labelledby="headingfive">
                                    <div class="card-body p-0">
                                        <div class="custom-control custom-radio">
                                            <input type="radio" id="customRadio20" name="customRadio4" class="custom-control-input">
                                            <label class="custom-control-label ml-1 text-muted" for="customRadio20">$1k - $20k</label>
                                        </div>

                                        <div class="custom-control custom-radio">
                                            <input type="radio" id="customRadio21" name="customRadio4" class="custom-control-input">
                                            <label class="custom-control-label ml-1 text-muted" for="customRadio21">$21k - $30k</label>
                                        </div>

                                        <div class="custom-control custom-radio">
                                            <input type="radio" id="customRadio22" name="customRadio4" class="custom-control-input">
                                            <label class="custom-control-label ml-1 text-muted" for="customRadio22">$31k - $40k</label>
                                        </div>

                                        <div class="custom-control custom-radio">
                                            <input type="radio" id="customRadio23" name="customRadio4" class="custom-control-input">
                                            <label class="custom-control-label ml-1 text-muted" for="customRadio23">$41k - $50k</label>
                                        </div>

                                        <div class="custom-control custom-radio">
                                            <input type="radio" id="customRadio24" name="customRadio4" class="custom-control-input">
                                            <label class="custom-control-label ml-1 text-muted" for="customRadio24">$51k - $60k</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- collapse one end -->
                        </div>
                    </div>
                </div>

                <div class="col-lg-9">
                    <div class="row">
                        <div class="col-lg-4 col-md-6 mt-4 pt-2">
                            <div class="list-grid-item rounded">
                                <div class="grid-item-content p-3">
                                    <ul class="list-inline mb-0">
                                        <li class="list-inline-item float-right">
                                            <div class="grid-fev-icon">
                                                <a href="" class="text-danger"><i class="mdi mdi-heart"></i></a>
                                            </div>
                                        </li>
                                    </ul>
                                    <div class="grid-list-img mt-3">
                                        <img src="https://admin.vuahanghieu.com/upload/product/2022/04/giay-the-thao-nike-air-max-genome-white-cw1648-100-mau-trang-626279b6da32c-22042022164734.jpg" alt="" class="img-fluid d-block">
                                    </div>
                                    <div class="grid-list-desc mt-3">
                                        <h5 class="mb-1"><a href="product-details.html" class="text-dark">Nike Air Max Genome</a></h5>
                                        <p class="text-muted mb-1"><span class="text-dark">Category: </span>Nike</p>
                                        <p class="text-muted mb-1"><span class="text-dark">Price: </span> $700</p>
                                        <p class="text-muted mb-1"><span class="text-dark">Size: </span> 39</p>
                                        <p class="text-muted mb-1"><span class="text-dark">Color: </span> White</p>
                                    </div>
                                </div>
                                
                                <div class="apply-button p-3 border-top">
                                    <a href="product-details.html" class="btn btn-primary btn-sm">Buy Now</a>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-4 col-md-6 mt-4 pt-2">
                            <div class="list-grid-item rounded">
                                <div class="grid-item-content p-3">
                                    <ul class="list-inline mb-0">
                                        <li class="list-inline-item float-right">
                                            <div class="grid-fev-icon">
                                                <a href="" class="text-danger"><i class="mdi mdi-heart"></i></a>
                                            </div>
                                        </li>
                                    </ul>
                                    <div class="grid-list-img mt-3">
                                        <img src="https://admin.vuahanghieu.com/upload/product/2022/04/giay-the-thao-nike-air-max-genome-white-cw1648-100-mau-trang-626279b6da32c-22042022164734.jpg" alt="" class="img-fluid d-block">
                                    </div>
                                    <div class="grid-list-desc mt-3">
                                        <h5 class="mb-1"><a href="product-details.html" class="text-dark">Nike Air Max Genome</a></h5>
                                        <p class="text-muted mb-1"><span class="text-dark">Category: </span>Nike</p>
                                        <p class="text-muted mb-1"><span class="text-dark">Price: </span> $700</p>
                                        <p class="text-muted mb-1"><span class="text-dark">Size: </span> 39</p>
                                        <p class="text-muted mb-1"><span class="text-dark">Color: </span> White</p>
                                    </div>
                                </div>
                                
                                <div class="apply-button p-3 border-top">
                                    <a href="product-details.html" class="btn btn-primary btn-sm">Buy Now</a>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-4 col-md-6 mt-4 pt-2">
                            <div class="list-grid-item rounded">
                                <div class="grid-item-content p-3">
                                    <ul class="list-inline mb-0">
                                        <li class="list-inline-item float-right">
                                            <div class="grid-fev-icon">
                                                <a href="" class="text-danger"><i class="mdi mdi-heart"></i></a>
                                            </div>
                                        </li>
                                    </ul>
                                    <div class="grid-list-img mt-3">
                                        <img src="https://admin.vuahanghieu.com/upload/product/2022/04/giay-the-thao-nike-air-max-genome-white-cw1648-100-mau-trang-626279b6da32c-22042022164734.jpg" alt="" class="img-fluid d-block">
                                    </div>
                                    <div class="grid-list-desc mt-3">
                                        <h5 class="mb-1"><a href="product-details.html" class="text-dark">Nike Air Max Genome</a></h5>
                                        <p class="text-muted mb-1"><span class="text-dark">Category: </span>Nike</p>
                                        <p class="text-muted mb-1"><span class="text-dark">Price: </span> $700</p>
                                        <p class="text-muted mb-1"><span class="text-dark">Size: </span> 39</p>
                                        <p class="text-muted mb-1"><span class="text-dark">Color: </span> White</p>
                                    </div>
                                </div>
                                
                                <div class="apply-button p-3 border-top">
                                    <a href="product-details.html" class="btn btn-primary btn-sm">Buy Now</a>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-4 col-md-6 mt-4 pt-2">
                            <div class="list-grid-item rounded">
                                <div class="grid-item-content p-3">
                                    <ul class="list-inline mb-0">
                                        <li class="list-inline-item float-right">
                                            <div class="grid-fev-icon">
                                                <a href="" class="text-danger"><i class="mdi mdi-heart"></i></a>
                                            </div>
                                        </li>
                                    </ul>
                                    <div class="grid-list-img mt-3">
                                        <img src="https://admin.vuahanghieu.com/upload/product/2022/04/giay-the-thao-nike-air-max-genome-white-cw1648-100-mau-trang-626279b6da32c-22042022164734.jpg" alt="" class="img-fluid d-block">
                                    </div>
                                    <div class="grid-list-desc mt-3">
                                        <h5 class="mb-1"><a href="product-details.html" class="text-dark">Nike Air Max Genome</a></h5>
                                        <p class="text-muted mb-1"><span class="text-dark">Category: </span>Nike</p>
                                        <p class="text-muted mb-1"><span class="text-dark">Price: </span> $700</p>
                                        <p class="text-muted mb-1"><span class="text-dark">Size: </span> 39</p>
                                        <p class="text-muted mb-1"><span class="text-dark">Color: </span> White</p>
                                    </div>
                                </div>
                                
                                <div class="apply-button p-3 border-top">
                                    <a href="product-details.html" class="btn btn-primary btn-sm">Buy Now</a>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-4 col-md-6 mt-4 pt-2">
                            <div class="list-grid-item rounded">
                                <div class="grid-item-content p-3">
                                    <ul class="list-inline mb-0">
                                        <li class="list-inline-item float-right">
                                            <div class="grid-fev-icon">
                                                <a href="" class="text-danger"><i class="mdi mdi-heart"></i></a>
                                            </div>
                                        </li>
                                    </ul>
                                    <div class="grid-list-img mt-3">
                                        <img src="https://admin.vuahanghieu.com/upload/product/2022/04/giay-the-thao-nike-air-max-genome-white-cw1648-100-mau-trang-626279b6da32c-22042022164734.jpg" alt="" class="img-fluid d-block">
                                    </div>
                                    <div class="grid-list-desc mt-3">
                                        <h5 class="mb-1"><a href="product-details.html" class="text-dark">Nike Air Max Genome</a></h5>
                                        <p class="text-muted mb-1"><span class="text-dark">Category: </span>Nike</p>
                                        <p class="text-muted mb-1"><span class="text-dark">Price: </span> $700</p>
                                        <p class="text-muted mb-1"><span class="text-dark">Size: </span> 39</p>
                                        <p class="text-muted mb-1"><span class="text-dark">Color: </span> White</p>
                                    </div>
                                </div>
                                
                                <div class="apply-button p-3 border-top">
                                    <a href="product-details.html" class="btn btn-primary btn-sm">Buy Now</a>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-4 col-md-6 mt-4 pt-2">
                            <div class="list-grid-item rounded">
                                <div class="grid-item-content p-3">
                                    <ul class="list-inline mb-0">
                                        <li class="list-inline-item float-right">
                                            <div class="grid-fev-icon">
                                                <a href="" class="text-danger"><i class="mdi mdi-heart"></i></a>
                                            </div>
                                        </li>
                                    </ul>
                                    <div class="grid-list-img mt-3">
                                        <img src="https://admin.vuahanghieu.com/upload/product/2022/04/giay-the-thao-nike-air-max-genome-white-cw1648-100-mau-trang-626279b6da32c-22042022164734.jpg" alt="" class="img-fluid d-block">
                                    </div>
                                    <div class="grid-list-desc mt-3">
                                        <h5 class="mb-1"><a href="product-details.html" class="text-dark">Nike Air Max Genome</a></h5>
                                        <p class="text-muted mb-1"><span class="text-dark">Category: </span>Nike</p>
                                        <p class="text-muted mb-1"><span class="text-dark">Price: </span> $700</p>
                                        <p class="text-muted mb-1"><span class="text-dark">Size: </span> 39</p>
                                        <p class="text-muted mb-1"><span class="text-dark">Color: </span> White</p>
                                    </div>
                                </div>
                                
                                <div class="apply-button p-3 border-top">
                                    <a href="product-details.html" class="btn btn-primary btn-sm">Buy Now</a>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-4 col-md-6 mt-4 pt-2">
                            <div class="list-grid-item rounded">
                                <div class="grid-item-content p-3">
                                    <ul class="list-inline mb-0">
                                        <li class="list-inline-item float-right">
                                            <div class="grid-fev-icon">
                                                <a href="" class="text-danger"><i class="mdi mdi-heart"></i></a>
                                            </div>
                                        </li>
                                    </ul>
                                    <div class="grid-list-img mt-3">
                                        <img src="https://admin.vuahanghieu.com/upload/product/2022/04/giay-the-thao-nike-air-max-genome-white-cw1648-100-mau-trang-626279b6da32c-22042022164734.jpg" alt="" class="img-fluid d-block">
                                    </div>
                                    <div class="grid-list-desc mt-3">
                                        <h5 class="mb-1"><a href="product-details.html" class="text-dark">Nike Air Max Genome</a></h5>
                                        <p class="text-muted mb-1"><span class="text-dark">Category: </span>Nike</p>
                                        <p class="text-muted mb-1"><span class="text-dark">Price: </span> $700</p>
                                        <p class="text-muted mb-1"><span class="text-dark">Size: </span> 39</p>
                                        <p class="text-muted mb-1"><span class="text-dark">Color: </span> White</p>
                                    </div>
                                </div>
                                
                                <div class="apply-button p-3 border-top">
                                    <a href="product-details.html" class="btn btn-primary btn-sm">Buy Now</a>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-4 col-md-6 mt-4 pt-2">
                            <div class="list-grid-item rounded">
                                <div class="grid-item-content p-3">
                                    <ul class="list-inline mb-0">
                                        <li class="list-inline-item float-right">
                                            <div class="grid-fev-icon">
                                                <a href="" class="text-danger"><i class="mdi mdi-heart"></i></a>
                                            </div>
                                        </li>
                                    </ul>
                                    <div class="grid-list-img mt-3">
                                        <img src="https://admin.vuahanghieu.com/upload/product/2022/04/giay-the-thao-nike-air-max-genome-white-cw1648-100-mau-trang-626279b6da32c-22042022164734.jpg" alt="" class="img-fluid d-block">
                                    </div>
                                    <div class="grid-list-desc mt-3">
                                        <h5 class="mb-1"><a href="product-details.html" class="text-dark">Nike Air Max Genome</a></h5>
                                        <p class="text-muted mb-1"><span class="text-dark">Category: </span>Nike</p>
                                        <p class="text-muted mb-1"><span class="text-dark">Price: </span> $700</p>
                                        <p class="text-muted mb-1"><span class="text-dark">Size: </span> 39</p>
                                        <p class="text-muted mb-1"><span class="text-dark">Color: </span> White</p>
                                    </div>
                                </div>
                                
                                <div class="apply-button p-3 border-top">
                                    <a href="product-details.html" class="btn btn-primary btn-sm">Buy Now</a>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-4 col-md-6 mt-4 pt-2">
                            <div class="list-grid-item rounded">
                                <div class="grid-item-content p-3">
                                    <ul class="list-inline mb-0">
                                        <li class="list-inline-item float-right">
                                            <div class="grid-fev-icon">
                                                <a href="" class="text-danger"><i class="mdi mdi-heart"></i></a>
                                            </div>
                                        </li>
                                    </ul>
                                    <div class="grid-list-img mt-3">
                                        <img src="https://admin.vuahanghieu.com/upload/product/2022/04/giay-the-thao-nike-air-max-genome-white-cw1648-100-mau-trang-626279b6da32c-22042022164734.jpg" alt="" class="img-fluid d-block">
                                    </div>
                                    <div class="grid-list-desc mt-3">
                                        <h5 class="mb-1"><a href="product-details.html" class="text-dark">Nike Air Max Genome</a></h5>
                                        <p class="text-muted mb-1"><span class="text-dark">Category: </span>Nike</p>
                                        <p class="text-muted mb-1"><span class="text-dark">Price: </span> $700</p>
                                        <p class="text-muted mb-1"><span class="text-dark">Size: </span> 39</p>
                                        <p class="text-muted mb-1"><span class="text-dark">Color: </span> White</p>
                                    </div>
                                </div>
                                
                                <div class="apply-button p-3 border-top">
                                    <a href="product-details.html" class="btn btn-primary btn-sm">Buy Now</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-12 mt-4 pt-2">
                    <nav aria-label="Page navigation example">
                        <ul class="pagination job-pagination mb-0 justify-content-center">
                            <li class="page-item disabled">
                                <a class="page-link" href="#" tabindex="-1" aria-disabled="true">
                                    <i class="mdi mdi-chevron-double-left f-15"></i>
                                </a>
                            </li>
                            <li class="page-item active"><a class="page-link" href="#">1</a></li>
                            <li class="page-item"><a class="page-link" href="#">2</a></li>
                            <li class="page-item"><a class="page-link" href="#">3</a></li>
                            <li class="page-item"><a class="page-link" href="#">4</a></li>
                            <li class="page-item">
                                <a class="page-link" href="#">
                                    <i class="mdi mdi-chevron-double-right f-15"></i>
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </section>

    <!-- footer start -->
    <footer class="footer">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-12 mb-0 mb-md-4 pb-0 pb-md-2">
                    <a href="javascript:void(0)"><img src="images/logo-light.png" height="20" alt=""></a>
                    <p class="mt-4">At vero eos et accusamus et iusto odio dignissim os ducimus qui blanditiis praesentium</p>
                    <ul class="social-icon social list-inline mb-0">
                        <li class="list-inline-item"><a href="#" class="rounded"><i class="mdi mdi-facebook"></i></a></li>
                        <li class="list-inline-item"><a href="#" class="rounded"><i class="mdi mdi-twitter"></i></a></li>
                        <li class="list-inline-item"><a href="#" class="rounded"><i class="mdi mdi-instagram"></i></a></li>
                        <li class="list-inline-item"><a href="#" class="rounded"><i class="mdi mdi-google"></i></a></li>
                    </ul>
                </div>
                <div class="col-lg-3 col-md-4 col-12 mt-4 mt-sm-0 pt-2 pt-sm-0">
                    <p class="text-white mb-4 footer-list-title">Company</p>
                    <ul class="list-unstyled footer-list">
                        <li><a href="#" class="text-foot"><i class="mdi mdi-chevron-right"></i> About Us</a></li>
                        <li><a href="#" class="text-foot"><i class="mdi mdi-chevron-right"></i> Media & Press</a></li>
                        <li><a href="#" class="text-foot"><i class="mdi mdi-chevron-right"></i> Career</a></li>
                        <li><a href="#" class="text-foot"><i class="mdi mdi-chevron-right"></i> Blog</a></li>
                        <li><a href="#" class="text-foot"><i class="mdi mdi-chevron-right"></i> Pricing</a></li>
                        <li><a href="#" class="text-foot"><i class="mdi mdi-chevron-right"></i> Marketing</a></li>
                        <li><a href="#" class="text-foot"><i class="mdi mdi-chevron-right"></i> CEOs </a></li>
                        <li><a href="#" class="text-foot"><i class="mdi mdi-chevron-right"></i> Agencies</a></li>
                        <li><a href="#" class="text-foot"><i class="mdi mdi-chevron-right"></i> Our Apps</a></li>
                    </ul>
                </div>
                <div class="col-lg-3 col-md-4 col-12 mt-4 mt-sm-0 pt-2 pt-sm-0">
                    <p class="text-white mb-4 footer-list-title">Resources</p>
                    <ul class="list-unstyled footer-list">
                        <li><a href="#" class="text-foot"><i class="mdi mdi-chevron-right"></i> Support</a></li>
                        <li><a href="#" class="text-foot"><i class="mdi mdi-chevron-right"></i> Privacy Policy</a></li>
                        <li><a href="#" class="text-foot"><i class="mdi mdi-chevron-right"></i> Terms</a></li>
                        <li><a href="#" class="text-foot"><i class="mdi mdi-chevron-right"></i> Accounting </a></li>
                        <li><a href="#" class="text-foot"><i class="mdi mdi-chevron-right"></i> Billing</a></li>
                        <li><a href="#" class="text-foot"><i class="mdi mdi-chevron-right"></i> F.A.Q.</a></li>
                    </ul>
                </div>
            
                <div class="col-lg-3 col-md-4 col-12 mt-4 mt-sm-0 pt-2 pt-sm-0">
                    <p class="text-white mb-4 footer-list-title f-17">Business Hours</p>
                    <ul class="list-unstyled text-foot mt-4 mb-0">
                        <li>Monday - Friday : 9:00 to 17:00</li>
                        <li class="mt-2">Saturday : 10:00 to 15:00</li>
                        <li class="mt-2">Sunday : Day Off (Holiday)</li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
    <!-- footer end -->
    <hr>
    <footer class="footer footer-bar">
        <div class="container text-center">
            <div class="row justify-content-center">
                <div class="col-12">
                    <div class="">
                        <p class="mb-0">© 2019 -2020 Jobya. Design with <i class="mdi mdi-heart text-danger"></i> by Themesdesign.</p>
                    </div>
                </div>
            </div>
        </div><!--end container-->
    </footer><!--end footer-->
    <!-- Footer End -->

    <!-- Back to top -->
    <a href="#" class="back-to-top rounded text-center" id="back-to-top"> 
        <i class="mdi mdi-chevron-up d-block"> </i> 
    </a>
    <!-- Back to top -->

    <!-- javascript -->
    <script src="js/jquery.min.js"></script>
    <script src="js/bootstrap.bundle.min.js"></script>
    <script src="js/jquery.easing.min.js"></script>
    <script src="js/plugins.js"></script>

    <!-- selectize js -->
    <script src="js/selectize.min.js"></script>

    <script src="js/jquery.nice-select.min.js"></script>

    <script src="js/app.js"></script>

</body>
</html>