@page
@model PRN211_ShoesStore.Views.ViewShoes.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Shoes</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Shoes.id" />
            <div class="form-group">
                <label asp-for="Shoes.name" class="control-label"></label>
                <input asp-for="Shoes.name" class="form-control" />
                <span asp-validation-for="Shoes.name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Shoes.price" class="control-label"></label>
                <input asp-for="Shoes.price" class="form-control" />
                <span asp-validation-for="Shoes.price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Shoes.shoesDetails" class="control-label"></label>
                <input asp-for="Shoes.shoesDetails" class="form-control" />
                <span asp-validation-for="Shoes.shoesDetails" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Shoes.launchDate" class="control-label"></label>
                <input asp-for="Shoes.launchDate" class="form-control" />
                <span asp-validation-for="Shoes.launchDate" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Shoes.status" /> @Html.DisplayNameFor(model => model.Shoes.status)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="Shoes.quantity" class="control-label"></label>
                <input asp-for="Shoes.quantity" class="form-control" />
                <span asp-validation-for="Shoes.quantity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
